fastapi==0.109.1
uvicorn==0.24.0.post1
pydantic==2.5.2
langchain==0.1.12
langchain-community==0.2.5
torch==2.1.1
torchvision==0.16.1
sentence-transformers==2.2.2
faiss-cpu==1.7.4
email-validator==2.1.0
requests==2.32.0
python-multipart==0.0.7
boto3==1.28.65
botocore==1.31.65